* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #111;
  color: #fdf6e3;
  font-family: "Gloria Hallelujah", cursive;
  overflow: hidden;
}

p.about-description {
  letter-spacing: 0.5px;
}

#landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #222;
}

.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.content h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 80px;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#landing .sketchy-button:hover {
  scale: 1.05;
}

#landing .sketchy-button {
  padding: 10px 25px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  background-color: #ffffff;
  color: #333333;
  font-size: 1rem;
  padding: 10px 40px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  transition: scale 0.2s ease-in-out;
}

.sketchy-circle-button {
  border-radius: 50%;
}

.buttons button {
  background-color: #333;
  color: #fdf6e3;
}

.buttons button:hover {
  background-color: #fdf6e3;
  color: #333;
}

#planet-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#post {
  padding: 50px 20px;
  background-color: #333;
  color: #fdf6e3;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-header h2 {
  font-size: 2rem;
}

.filters {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters h1 {
  margin-bottom: 10px;
}

.genre-filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  height: 80px;
  align-items: center;
}

.genre-filters::-webkit-scrollbar {
  display: none;
}

.genre-button {
  padding: 10px 20px;
  background-color: #222;
  color: #fdf6e3;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
  transform-origin: center;
}

.genre-button:first-child {
  margin-left: 10px;
}

.genre-button.active {
  background-color: #fdf6e3;
  color: #333;
  transition: 0.2s scale ease-in-out;
}

.genre-button.active:hover {
  transform: scale(1);
  background-color: #fdf6e3;
}

.genre-button:hover {
  background-color: #fdf6e3;
  color: #222;
  transform: scale(1.1);
  transition: 0.2s transform ease-in-out, 0.2s background-color ease-in-out;
}

.genre-filters-container {
  position: relative;
  width: 830px;
  overflow: hidden;
}

.shadow-left,
.shadow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.shadow-left {
  left: 0;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.8), transparent);
}

.shadow-right {
  right: 0;
  background: linear-gradient(to left, rgba(51, 51, 51, 0.8), transparent);
  z-index: 10;
}

.genre-filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  height: 80px;
  align-items: center;
  position: relative;
  flex-shrink: 1;
}

.genre-button {
  padding: 10px 20px;
  background-color: #222;
  color: #fdf6e3;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
  transform-origin: center;
  height: min-content;
}

button#clear-genres {
  border-radius: 50%;
  font-size: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
}

input {
  padding: 10px 15px;
  border: none;
  background-color: #222;
  color: #fdf6e3;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  position: relative;
  width: 100%;
  z-index: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

#genre-filter {
  padding: 10px 15px;
  border: none;
  background-color: #333;
  color: #fdf6e3;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

#genre-filter:hover {
  scale: 1.05;
}

.post-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background-color: #222;
  border: none;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  overflow: visible;
}

.post:hover {
  scale: 1.01;
  background-color: #fdf6e3;
  color: #333333;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-genre {
  font-size: 0.9rem;
  color: #f7c589;
  margin-bottom: 10px;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination-button {
  background-color: #222;
  color: #fdf6e3;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: scale 0.2s ease, background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #fdf6e3;
  color: #333;
  scale: 1.1;
}

.pagination-button:disabled {
  background-color: #444;
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}

.pagination-button:disabled canvas {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.about-section {
  background-color: #222;
  display: flex;
  gap: 5px;
  position: relative;
}

.about-container {
  background-color: #333;
  padding: 40px;
  max-width: 800px;
  width: 100%;
  position: relative;
  flex-grow: 5;
}

.about-title {
  font-size: 2rem;
  color: #fdf6e3;
  margin-bottom: 20px;
  text-align: center;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}


#about-me-and-donate {
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 50px;
  gap: 10px;
}

.about-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-container {
  flex: 4;
  color: #fdf6e3;
}

.canvas-container {
  flex: 1;
  display: flex;
  background-color: #333;
  position: relative;
  cursor: pointer;
  align-items: flex-end;
  justify-content: center;
  padding: 40px;
  overflow: hidden;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.social-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#about-me-and-donate .sketchy-button {
  background-color: #222;
  color: #fdf6e3;
  padding: 10px 20px;
  font-size: 0.9rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: scale 0.2s ease, background-color 0.3s ease;
  position: relative;
}

#about-me-and-donate .sketchy-button:hover {
  background-color: #fdf6e3;
  color: #333;
  scale: 1.1;
}


.donate-subs-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.donate-section,
.subs-section {
  background-color: #333;
  padding: 20px;
  color: #fdf6e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.donate-section {
  flex: 2;
}

.subs-section {
  flex: 3;
  padding: 20px 50px;
}

.donate-section h2,
.subs-section h2 {
  margin-bottom: 0;
}

.donate-section p,
.subs-section p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.subs-section input {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

#stickman-canvas {
  animation: floating 3s ease-in-out infinite;
}

#stickman-canvas,
#stars-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  background-color: #222;
  color: #fdf6e3;
  z-index: 10;
  padding: 10px 20px;
  pointer-events: none;
  font-size: 0.9rem;
  white-space: nowrap;
}

.canvas-container:hover .tooltip {
  opacity: 1;
}

#email-subs {
  position: relative;
}

#email-subs input:focus {
  background-color: #fdf6e3;
  color: #333;
}

#email-subs input {
  border-radius: 0;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fdf6e3;
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 1px;
}

.feedback-sign {
  background-color: #333;
  color: #fdf6e3;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 14px;
  display: none;
  z-index: 1000;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .content h1 {
    font-size: 2rem;
    line-height: 50px;
  }

  .content p {
    font-size: 1.2rem;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 30px;
  }

  #planet-canvas {
    width: 100%;
  }

  .genre-filters {
    width: 90vw;
    height: 70px;
  }

  .genre-filters-container {
    flex-direction: column;
    width: 90vw;
  }

  input {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .genre-button {
    padding: 8px 10px;
    font-size: 0.8rem;
  }
  
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }

  .post-genre {
    font-size: 0.8rem;
  }

  .post p {
    font-size: 0.8rem;
  }

  .pagination {
    margin-top: 15px;
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  #post {
    padding: 20px 10px;
  }

  #about-me-and-donate {
    flex-direction: column;
    padding: 10px;
  }

  .about-section {
    flex-direction: column;
    order: 2;
  }
  
  .about-container h2 {
    font-size: 1.5rem;
    border-bottom: #aaa 1px solid;
    padding-bottom: 10px;
  }
  
  p.about-description {
    line-height: 26px;
    letter-spacing: 0.2px;
    font-size: 0.9rem;
  }

  .about-container {
    padding: 15px;
    order: 2;
  }

  .canvas-container {
    order: 1;
    padding: 100px;
  }

  .canvas-container canvas {
    pointer-events: none;
  }

  .donate-subs-container {
    order: 1;
    flex-direction: column;
  }

  .subs-section {
    order: 2;
  }

  #about-me-and-donate .about-container .sketchy-button {
    font-size: 0.7rem;
    padding: 10px 10px;
  }

  .donate-subs-container p {
    font-size: 0.7rem;
  }

  .donate-subs-container h2 {
    font-size: 1.4rem;
  }

  form input {
    min-width: 100%;
  }

  .tooltip {
    opacity: 0;
  }
}